@import url("https://fonts.googleapis.com/css?family=Open+Sans:700|Poppins");

*,
body {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  width: 100%;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
}

h1 {
  background-color: #ed5565;
  color: #fff;
  font-family: "Poppins";
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  background-color: #2e3136;
  flex: 3;
}
.row:nth-child(2n + 1) {
  background-color: #656b73;
}
.row ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
  height: 100%;
  color: #fff;
}

/*---------------------------*/
/*-----|              |------*/
/*-----| Icons Pack 1 |------*/
/*-----|              |------*/
/*---------------------------*/

#icon-pack-1 ul li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  text-align: center;
  color: #ccc;
  font-size: 30px;
  border-radius: 50%;
  background-color: #43464d;
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
}
#icon-pack-1 ul li a:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
  transform: scale(0.8);
  transform: scale(0.8);
  transform: scale(0.8);
}

#icon-pack-1 ul li:nth-child(1) a:before {
  background-color: #3b5999;
}
#icon-pack-1 ul li:nth-child(2) a:before {
  background-color: #dd4b39;
}
#icon-pack-1 ul li:nth-child(3) a:before {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(
            0,
            0,
            0,
            0
          )
          50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(
            0,
            0,
            0,
            0
          )
          50%),
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(
            0,
            0,
            0,
            0
          )
          50%),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(
            0,
            0,
            0,
            0
          )
          50%),
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(
            0,
            0,
            0,
            0
          )
          50%),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)),
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d
          100%);
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      circle farthest-corner at 0 140%,
      #fec564,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 0 -25%,
      #5258cf,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 100% 0,
      #893dc2,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 100% 100%,
      #d9317a,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
}

#icon-pack-1 ul li:nth-child(4) a:before {
  background-color: #55acee;
}
#icon-pack-1 ul li:nth-child(5) a:before {
  background-color: #007bb5;
}

#icon-pack-1 ul li:nth-child(1) a:hover {
  color: #3b5999;
  box-shadow: 0 0 5px #3b5999;
  box-shadow: 0 0 5px #3b5999;
  box-shadow: 0 0 5px #3b5999;
  box-shadow: 0 0 5px #3b5999;
  text-shadow: 0 0 5px #3b5999;
  text-shadow: 0 0 5px #3b5999;
  text-shadow: 0 0 5px #3b5999;
  text-shadow: 0 0 5px #3b5999;
  cursor: pointer;
}
#icon-pack-1 ul li:nth-child(2) a:hover {
  color: #dd4b39;
  box-shadow: 0 0 5px #dd4b39;
  box-shadow: 0 0 5px #dd4b39;
  box-shadow: 0 0 5px #dd4b39;
  box-shadow: 0 0 5px #dd4b39;
  text-shadow: 0 0 5px #dd4b39;
  text-shadow: 0 0 5px #dd4b39;
  text-shadow: 0 0 5px #dd4b39;
  text-shadow: 0 0 5px #dd4b39;
  cursor: pointer;
}


#icon-pack-1 ul li:nth-child(3) a:hover {
  color: #e4405f;
  box-shadow: 0 0 5px #e4405f;
  box-shadow: 0 0 5px #e4405f;
  box-shadow: 0 0 5px #e4405f;
  box-shadow: 0 0 5px #e4405f;
  text-shadow: 0 0 5px #e4405f;
  text-shadow: 0 0 5px #e4405f;
  text-shadow: 0 0 5px #e4405f;
  text-shadow: 0 0 5px #e4405f;
  cursor: pointer;
}
#icon-pack-1 ul li:nth-child(4) a:hover {
  color: #55acee;
  box-shadow: 0 0 5px #55acee;
  box-shadow: 0 0 5px #55acee;
  box-shadow: 0 0 5px #55acee;
  box-shadow: 0 0 5px #55acee;
  text-shadow: 0 0 5px #55acee;
  text-shadow: 0 0 5px #55acee;
  text-shadow: 0 0 5px #55acee;
  text-shadow: 0 0 5px #55acee;
  cursor: pointer;
}
#icon-pack-1 ul li:nth-child(5) a:hover {
  color: #007bb5;
  box-shadow: 0 0 5px #007bb5;
  box-shadow: 0 0 5px #007bb5;
  box-shadow: 0 0 5px #007bb5;
  box-shadow: 0 0 5px #007bb5;
  text-shadow: 0 0 5px #007bb5;
  text-shadow: 0 0 5px #007bb5;
  text-shadow: 0 0 5px #007bb5;
  text-shadow: 0 0 5px #007bb5;
  cursor: pointer;
}

#icon-pack-1 ul li:nth-child(1) a:hover:before {
  transform: scale(1.3);
  transform: scale(1.3);
  transform: scale(1.3);
  box-shadow: 0 0 15px #3b5999;
  box-shadow: 0 0 15px #3b5999;
  box-shadow: 0 0 15px #3b5999;
  box-shadow: 0 0 15px #3b5999;
}
#icon-pack-1 ul li:nth-child(2) a:hover:before {
  transform: scale(1.3);
  transform: scale(1.3);
  transform: scale(1.3);
  box-shadow: 0 0 15px #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
}
#icon-pack-1 ul li:nth-child(3) a:hover:before {
  transform: scale(1.3);
  transform: scale(1.3);
  transform: scale(1.3);
  box-shadow: 0 0 15px #e4405f;
  box-shadow: 0 0 15px #e4405f;
  box-shadow: 0 0 15px #e4405f;
  box-shadow: 0 0 15px #e4405f;
}
#icon-pack-1 ul li:nth-child(4) a:hover:before {
  transform: scale(1.3);
  transform: scale(1.3);
  transform: scale(1.3);
  box-shadow: 0 0 15px #55acee;
  box-shadow: 0 0 15px #55acee;
  box-shadow: 0 0 15px #55acee;
  box-shadow: 0 0 15px #55acee;
}
#icon-pack-1 ul li:nth-child(5) a:hover:before {
  transform: scale(1.3);
  transform: scale(1.3);
  transform: scale(1.3);
  box-shadow: 0 0 15px #007bb5;
  box-shadow: 0 0 15px #007bb5;
  box-shadow: 0 0 15px #007bb5;
  box-shadow: 0 0 15px #007bb5;
}

/*---------------------------*/
/*-----|              |------*/
/*-----| Icons Pack 2 |------*/
/*-----|              |------*/
/*---------------------------*/

#icon-pack-2 ul li a .fa {
  font-size: 24px;
  color: #262626;
  line-height: 40px;
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
}
#icon-pack-2 ul li a {
  position: relative;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 2px 4px 2px 0px;
  background-color: #eee;
  text-align: center;
  transform: perspective(1000px) rotate(-20deg) skew(25deg) translate(0, 0);
  transform: perspective(1000px) rotate(-20deg) skew(25deg)
    translate(0, 0);
  transform: perspective(1000px) rotate(-20deg) skew(25deg) translate(0, 0);
  transform: perspective(1000px) rotate(-20deg) skew(25deg) translate(0, 0);
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
}
#icon-pack-2 ul li a:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  height: 100%;
  width: 10px;
  border-radius: 2px 2px 0px 0px;
  background-color: #b1b1b1;
  transform: rotate(0deg) skewX(-45deg);
  transform: rotate(0deg) skewY(-45deg);
  transform: rotate(0deg) skewY(-45deg);
  transform: rotate(0deg) skewY(-45deg);
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
}
#icon-pack-2 ul li a:after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 5px;
  height: 10px;
  width: 100%;
  border-radius: 2px 2px 2px 0px;
  background-color: #b1b1b1;
  transform: rotate(0deg) skewX(-45deg);
  transform: rotate(0deg) skewX(-45deg);
  transform: rotate(0deg) skewX(-45deg);
  transform: rotate(0deg) skewX(-45deg);
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
}

#icon-pack-2 ul li a:hover {
  transform: perspective(1000px) rotate(-20deg) skew(25deg)
    translate(10px, -10px);
  transform: perspective(1000px) rotate(-20deg) skew(25deg)
    translate(10px, -10px);
  transform: perspective(1000px) rotate(-20deg) skew(25deg)
    translate(10px, -10px);
  transform: perspective(1000px) rotate(-20deg) skew(25deg)
    translate(10px, -10px);
  box-shadow: -30px 30px 30px rgba(0, 0, 0, 0.5);
  box-shadow: -30px 30px 30px rgba(0, 0, 0, 0.5);
  box-shadow: -30px 30px 30px rgba(0, 0, 0, 0.5);
  box-shadow: -30px 30px 30px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#icon-pack-2 ul li:hover .fa {
  color: #fff;
}
#icon-pack-2 ul li:hover:nth-child(1) a {
  background-color: #3b5999;
}
#icon-pack-2 ul li:hover:nth-child(2) a {
  background: #dd4b39;
}
#icon-pack-2 ul li:hover:nth-child(3) a {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(
            0,
            0,
            0,
            0
          )
          50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(
            0,
            0,
            0,
            0
          )
          50%),
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(
            0,
            0,
            0,
            0
          )
          50%),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(
            0,
            0,
            0,
            0
          )
          50%),
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(
            0,
            0,
            0,
            0
          )
          50%),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)),
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d
          100%);
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      circle farthest-corner at 0 140%,
      #fec564,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 0 -25%,
      #5258cf,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 100% 0,
      #893dc2,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 100% 100%,
      #d9317a,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
}

#icon-pack-2 ul li:hover:nth-child(4) a {
  background-color: #55acee;
}
#icon-pack-2 ul li:hover:nth-child(5) a {
  background-color: #007bb5;
}

#icon-pack-2 ul li:hover:nth-child(1) a:before {
  background-color: #2e4a86;
}
#icon-pack-2 ul li:hover:nth-child(2) a:before {
  background: #c13929;
}
#icon-pack-2 ul li:hover:nth-child(3) a:before {
  background-color: #d02d4c;
}
#icon-pack-2 ul li:hover:nth-child(4) a:before {
  background-color: #4184b7;
}
#icon-pack-2 ul li:hover:nth-child(5) a:before {
  background-color: #125688;
}

#icon-pack-2 ul li:hover:nth-child(1) a:after {
  background-color: #4a69ad;
}
#icon-pack-2 ul li:hover:nth-child(2) a:after {
  background: #e8432f;
}
#icon-pack-2 ul li:hover:nth-child(3) a:after {
  background-color: #f1395c;
}
#icon-pack-2 ul li:hover:nth-child(4) a:after {
  background-color: #4d9bde;
}
#icon-pack-2 ul li:hover:nth-child(5) a:after {
  background-color: #55acee;
}

/*---------------------------*/
/*-----|              |------*/
/*-----| Icons Pack 3 |------*/
/*-----|              |------*/
/*---------------------------*/

#icon-pack-3 ul li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
  border-radius: 50%;
  border: 3px solid #fff;
  overflow: hidden;
  z-index: 1;
}

#icon-pack-3 ul li a .fa {
  color: #262626;
  position: relative;
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
  z-index: 3;
}
#icon-pack-3 ul li a:hover .fa {
  color: #fff;
  transform: rotateY(360deg);
  transform: rotateY(360deg);
  transform: rotateY(360deg);
  transform: rotateY(360deg);
  cursor: pointer;
}
#icon-pack-3 ul li a:before {
  content: "";
  position: absolute;
  top: 0%;
  right: 100%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: tomato;
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
  transform: scale(0);
  transform: scale(0);
  transform: scale(0);
  transform: scale(0);
}
#icon-pack-3 ul li a:hover:before {
  right: 0%;
  transform: scale(1);
  transform: scale(1);
  transform: scale(1);
  transform: scale(1);
}
#icon-pack-3 ul li:nth-child(1) a:before {
  background-color: #3b5999;
}
#icon-pack-3 ul li:nth-child(2) a:before {
  background-color: #dd4b39;
}
#icon-pack-3 ul li:nth-child(3) a:before {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(
            0,
            0,
            0,
            0
          )
          50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(
            0,
            0,
            0,
            0
          )
          50%),
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(
            0,
            0,
            0,
            0
          )
          50%),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(
            0,
            0,
            0,
            0
          )
          50%),
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(
            0,
            0,
            0,
            0
          )
          50%),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)),
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d
          100%);
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      circle farthest-corner at 0 140%,
      #fec564,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 0 -25%,
      #5258cf,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 100% 0,
      #893dc2,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 100% 100%,
      #d9317a,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
}
#icon-pack-3 ul li:nth-child(4) a:before {
  background-color: #55acee;
}

#icon-pack-3 ul li:nth-child(5) a:before {
  background-color: #007bb5;
}

/*---------------------------*/
/*-----|              |------*/
/*-----| Icons Pack 3 |------*/
/*-----|              |------*/
/*---------------------------*/

#icon-pack-4 ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #f1f1f1;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ccc, #fff);
  background: linear-gradient(0deg, #ccc, #fff);
  background: linear-gradient(0deg, #ccc, #fff);
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
}
#icon-pack-4 ul li a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
#icon-pack-4 ul li a .fa {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 28px;
  background: linear-gradient(0deg, #ccc, #fff);
  background: linear-gradient(0deg, #ccc, #fff);
  background: linear-gradient(0deg, #ccc, #fff);
  color: #262626;
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
  transition: 0.5s;
}
#icon-pack-4 ul li:nth-child(1) a:hover .fa {
  color: #3b5999;
  background: linear-gradient(0deg, #fff, #ddd);
  background: linear-gradient(0deg, #fff, #ddd);
  background: linear-gradient(0deg, #fff, #ddd);
}
#icon-pack-4 ul li:nth-child(2) a:hover .fa {
  color: #dd4b39;
  background: linear-gradient(0deg, #fff, #ddd);
  background: linear-gradient(0deg, #fff, #ddd);
  background: linear-gradient(0deg, #fff, #ddd);
}

#icon-pack-4 ul li:nth-child(3) a:hover .fa {
  color: #e4405f;
  background: linear-gradient(0deg, #fff, #ddd);
  background: linear-gradient(0deg, #fff, #ddd);
  background: linear-gradient(0deg, #fff, #ddd);
}

#icon-pack-4 ul li:nth-child(4) a:hover .fa {
  background: linear-gradient(0deg, #fff, #ddd);
  background: linear-gradient(0deg, #fff, #ddd);
  background: linear-gradient(0deg, #fff, #ddd);
  color: #55acee;
}

#icon-pack-4 ul li:nth-child(5) a:hover .fa {
  background: linear-gradient(0deg, #fff, #ddd);
  background: linear-gradient(0deg, #fff, #ddd);
  background: linear-gradient(0deg, #fff, #ddd);
  color: #007bb5;
}

/*---------------------------*/
/*-----|              |------*/
/*-----|    Footer    |------*/
/*-----|              |------*/
/*---------------------------*/

footer {
  flex: 1;
  background-color: #162940;
  height: 100%;
  font-family: Poppins;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
